/* For More Information: https://stackoverflow.com/questions/21971449/ */
/* NBExtensions: https://github.com/dunovank/jupyter-themes for More Custom Style Sheets! */

/* Make the notebook cells take almost all available width */
.container {
    width: 95% !important;
}   

/* Prevent the edit cell highlight box from getting clipped;
 * important so that it also works when cell is in edit mode*/
div.cell.selected {
    border-left-width: 1px !important;
}

/* Changing the Font-Size */
/* https://towardsdatascience.com/7-essential-tips-for-writing-with-jupyter-notebook-60972a1a8901 */
div#notebook p, div#notebook{
    font-size: 95%;
    line-height: 125%;
}
.rendered_html pre, .rendered_html table{
    font-size:95%;
    line-height: 125%;
}
.CodeMirror, .CodeMirror pre, .CodeMirror-dialog, .CodeMirror-dialog .CodeMirror-search-field, .terminal-app .terminal {
    font-size: 95%;
    line-height: 125%;
}
